* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
root {
  --white: #f2f2f2;
  --blue: #0065fc;
}
body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
h1 {
  padding-top: 10px;
  text-align: start;
  font-size: 1.4rem;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .9rem;
}
h2 {
  margin: 20px;
  font-size: 1.4rem;
}
ul {
  list-style-type: none;
}
/* -----------------start header---------------- */
header {
  margin: 20px;
}
/* ----------------start nav------------------- */
header.logo-nav {
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 3px solid rgba(185, 185, 185, 0.432);
  padding-bottom: 10px;
}

.inscrire a {
  position: absolute;
  right: 20px;
  top: -40px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: bold;
}
.inscrire a:hover {
  border-bottom: none;
}
header li a {
  padding-left: 40px;
  padding-right: 60px;
}
header li a:hover {
  --a-blue: #0065fc;
  color: var(--a-blue);
  border-bottom: 3px solid var(--a-blue);
  padding-bottom: 10px;
}
/* --------------start form search------------------- */

form {
  position: relative;
  display: flex;
  height: 3rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
input[type="text"] {
  height: 3rem;
  border: 1px solid #f1f0f0;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
}
form button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -20px;
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 20px;
  background-color: #0065fc;
  border-radius: 10px;
  color: #fff;
  font-size: 1.25rem;
}
form span {
  display: none;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: auto;
}
i.fa-map-marker-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #f1f0f0;
  border-radius: 10px 0px 0px 10px;
  font-size: 1.25rem;
}
/* --------------end form search------------------- */
/* --------------start filtres------------------- */
.filtres h2 {
  width: 100%; /*quand ca sera en ecran pleine enleve le width 100%*/
  font-weight: bold;
}
.filtres {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: -20px;
}
.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  border: 2px solid #f1f0f0;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  border-radius: 50px;
  margin-top: 10px;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  margin-left: 20px;
}
.button:hover {
  background-color: #0065fc;
  color: #fff;
}
.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -15px;
  background-color: #ebf1ff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #0065fc;
  font-size: 1.25rem;
}
/* --------------end filtres------------------- */
/* --------------start info -----------*/
i.fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #f2f2f2;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: #0065fc;
  margin-right: 10px;
}
.info p {
  display: flex;
}
/* --------------end info -----------*/
/* ----------------end header--------------------- */
aside {
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: rgb(200, 200, 201);
}
.side-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-header span {
  margin-right: 20px;
  font-size: 1.875rem;
}
.card-side {
  display: flex;
  margin: 20px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 20px;
}
.side-image img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  border: #fff 3px solid;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5px;
}
.card-text span {
  color: #0065fc;
}
span .star {
  color: #c4c4c4;
}
p .price {
  font-weight: bold;
  color: inherit;
}
/* -----------------start card main */
.main {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(152, 152, 209);
}
.card-main {
  margin: 20px;
  height: 210px;
  background-color: #eee;
  border-radius: 20px;
}
.main-image img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: #fff 5px solid;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  padding-bottom: 5px;
  margin-right: 20px;
}
.main-text span {
  color: #0065fc;
}
p .price-main {
  font-weight: bold;
  color: inherit;
}
span .main-star {
  color: #c4c4c4;
}
.main .text-plus {
  margin-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* start section mainfull */
.mainfull {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(57, 160, 143);
}
.card-mainfull {
  width: auto;
  margin: 20px;
  height: 210px;
  background-color: #eee;
  border-radius: 20px;
}
.mainfull-image img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: #fff 5px solid;
}
.mainfull h3 {
  padding-top: 10px;
}
footer {
  background-color: aquamarine;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 50px;
}
footer ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}
footer a {
  color: inherit;
}
/* media querries */
/* mobile */
@media (min-width: 767px) {
  body {
    margin: 20px 40px;
  }
  header .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  header nav ul {
    display: flex;
    justify-content: flex-end;
    position: static;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: -30px;
    border-bottom: none;
    padding-top: 0px;
    border-top: transparent;
  }
  .inscrire a {
    position: static;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
  }
  .inscrire a:hover {
    border-bottom: none;
  }
  header li a {
    padding-right: 40px;
    padding-left: 40px;
  }
  header li a:hover {
    color: blue;
    border-top: 3px solid blue;
    border-bottom: none;
    padding-top: 20px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  form span {
    display: flex;
    color: #fff;
    position: relative;
    left: -10px;
  }
  i.fa-search {
    display: flex;
    color: transparent;
  }
  form button {
    left: -20px;
    width: 150px;
    border-radius: 0px 10px 10px 0px;
  }
}
header {
  margin-top: 20px;
}
li a {
  text-decoration: none;
}
@media (min-width: 1023px) {
  .filtres {
    flex-wrap: nowrap;
  }
  .info p {
    display: flex;
    align-items: center;
  }
  .filtres h2 {
    width: auto; /*quand ca sera en ecran pleine enleve le width 100%*/
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .vieux-port {
    grid-row-start: 1;
    grid-row-end: 3;
    height: auto;
  }
  .vieux-port img {
    height: 410px;
  }
  .parc {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: auto;
  }
  .parc img {
    height: 410px;
  }
  .master {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .populaire {
    display: grid;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr 40%;
  }
  aside {
    order: 2;
  }
}

/* .side-header {
    margin-left: 20px;
    margin-right: 20px;
  }
  .text-plus h3 {
    margin-left: 20px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .master {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    margin-right: 20px;
  }
  .populaire {
    margin-left: 20px;
    margin-right: 20px;
  }
  .section {
    display: grid;
    grid-template-columns: auto 30%;
    gap: 40px;
  } */

@media (min-width: 1200px) {
  .side-header {
    margin-left: 20px;
    margin-right: 20px;
  }
  .text-plus h3 {
    margin-left: 20px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .master {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    margin-right: 20px;
  }
  .populaire {
    margin-left: 20px;
    margin-right: 20px;
  }
  .section {
    display: grid;
    grid-template-columns: auto 30%;
    gap: 40px;
  }
}
