* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
img {
  filter: invert(0);
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  background-color: #fff;
}
h1 {
  padding-top: 10px;
  text-align: start;
  font-size: 1.35rem;
}

p {
  margin-top: 10px;
  font-size: 0.95rem;
}
h2 {
  margin: 20px;
  font-size: 1.3rem;
}
h3 {
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
/* -----------------start header---------------- */
header {
  margin: 20px;
}
/* ----------------start nav------------------- */
header.logo-nav {
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 3px solid rgba(185, 185, 185, 0.432);
  padding-bottom: 10px;
}

.inscrire a {
  position: absolute;
  right: 20px;
  top: -40px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: bold;
  color: #0065fc;
}
.inscrire a:hover {
  border-bottom: none;
}
header li a {
  padding-left: 40px;
  padding-right: 60px;
}
header li a:hover {
  --a-blue: #0065fc;
  color: var(--a-blue);
  border-bottom: 3px solid var(--a-blue);
  padding-bottom: 10px;
}
/* --------------start form search------------------- */

form {
  position: relative;
  display: flex;
  height: 3rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
input[type="text"] {
  height: 3rem;
  border: 1px solid #f1f0f0;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
}
input:focus {
  outline: none;
  border: 1px solid #0065fc;
}
form button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -15px;
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 20px;
  background-color: #0065fc;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
form button:hover {
  background-color: #fff;
  border: 2px solid #0065fc;
  color: #0065fc;
}
button:hover span {
  background-color: #fff;
  color: #0065fc;
}
form span {
  display: none;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: auto;
}
label i.fa-map-marker-alt:hover {
  cursor: pointer;
}
i.fa-map-marker-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #f1f0f0;
  border-radius: 10px 0px 0px 10px;
  font-size: 1rem;
}
/* --------------end form search------------------- */
/* --------------start filtres------------------- */
.filtres h2 {
  width: 100%; /*quand ca sera en ecran pleine enleve le width 100%*/
  font-weight: bold;
}
.filtres {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: -20px;
}
.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  border: 2px solid #f1f0f0;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  border-radius: 50px;
  margin-top: 10px;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  margin-left: 20px;
}
.button:hover {
  background-color: #0065fc;
  color: #fff;
  cursor: pointer;
}
.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -15px;
  background-color: #ebf1ff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #0065fc;
  font-size: 1.25rem;
}
/* --------------end filtres------------------- */
/* --------------start info -----------*/
i.fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 2px solid #f1f0f0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: #0065fc;
  margin-right: 10px;
  position: relative;
  top: -4px;
}
.para-filtres {
  display: flex;
  margin-top: 30px;
}
/* --------------end info -----------*/
/* ----------------end header--------------------- */
aside {
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: #eee;
  border-radius: 20px;
}
.side-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.side-header span {
  margin-left: 90px;
}
.card-side {
  display: flex;
  margin: 20px;
  height: 150px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.card-side:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card-side:hover img {
  cursor: pointer;
  transform: scale(1.07);
}
.side-image img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  border: #fff 4px solid;
  transition: all 0.5s;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}
.fa-star {
  color: #0065fc;
  font-size: 0.8rem;
}
span .note {
  color: #eee;
}
p .price {
  font-weight: bold;
}
/* -----------------start card main */
.main {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.card-main {
  margin: 10px 20px 20px;
  /* height: 200px; */
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-main:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card-main:hover img {
  transform: scale(1.07);
  cursor: pointer;
}
.main-image img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: #fff 4px solid;
  transition: all 0.5s;
}
.main-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-bottom: 5px;
  margin-right: 20px;
}
.card-main p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-plus {
  margin-left: 20px;
  padding-top: 10px;
}
.text-plus a {
  font-weight: bold;
  color: black;
}
.text-plus a:hover {
  color: #0065fc;
}
/* start section mainfull */
.mainfull {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-mainfull {
  width: auto;
  margin: 20px;
  height: 210px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-mainfull:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card-mainfull:hover img {
  transform: scale(1.07);
  cursor: pointer;
}
.mainfull-image img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  transition: all 0.5s;
}
.mainfull h3 {
  padding-top: 10px;
}
footer {
  padding-top: 40px;
  margin-top: 40px;
  padding-left: 20px;
  padding-bottom: 50px;
  background-color: #eee;
}
footer ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 40px;
}
footer ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: #0065fc;
}
/* media querries */
/* mobile */
@media (min-width: 767px) {
  .page {
    margin: 40px 40px 0px 40px;
  }
  header .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  header nav ul {
    display: flex;
    justify-content: flex-end;
    position: static;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: -30px;
    border-bottom: none;
    padding-top: 0px;
    border-top: transparent;
  }
  .inscrire a {
    position: static;
    padding-left: 40px;
    padding-right: 40px;
  }
  .inscrire a:hover {
    border-bottom: none;
  }
  header li a {
    padding-right: 40px;
    padding-left: 40px;
  }
  header li a:hover {
    color:#0065fc;
    border-top: 3px solid #0065fc;
    border-bottom: none;
    padding-top: 40px;
  }
  footer {
    /* margin: 20px 0; */
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
  }
  .main {
    background-color: #eee;
    border-radius: 20px;
  }
  .mainfull {
    margin-right: -20px;
    margin-left: -20px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  form span {
    display: flex;
    color: #fff;
    position: relative;
    left: -10px;
  }
  i.fa-search {
    display: flex;
    color: transparent;
  }
  form button {
    left: -20px;
    width: 120px;
    border-radius: 0px 10px 10px 0px;
  }
}
@media (min-width: 1200px) {
  .page {
    margin: 40px 40px 0px 20px;
  }
  .filtres {
    flex-wrap: nowrap;
  }
  .info p {
    display: flex;
    align-items: center;
  }
  .filtres h2 {
    width: auto; /*quand ca sera en ecran pleine enleve le width 100%*/
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 27%;
    gap: 10px;
  }
  aside {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px 10px 10px;
    margin-bottom: 30px;
  }
  .main {
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 30px 20px;
  }
  .main h2 {
    margin-left: 40px;
  }
  .main .text-plus {
    margin-left: 30px;
  }
  .mainfull {
    margin-right: -20px;
    margin-left: 0px;
  }
  .master {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .mainfull .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 65px);
  }
  .vieux-port,
  .parc {
    grid-row-start: 1;
    grid-row-end: 9;
    height: auto;
  }
  .vieux-port img,
  .parc img {
    height: 430px;
    padding-bottom: 5px;
  }
  .fort-pomegues {
    grid-row-start: 1;
    grid-row-end: 6;
    height: auto;
  }
  .fort-pomegues img {
    height: 240px;
  }
  .frioul {
    grid-row-start: 6;
    grid-row-end: 9;
    height: auto;
  }
  .frioul img {
    height: 105px;
    padding-bottom: 5px;
  }
  .notre-dame {
    grid-row-start: 1;
    grid-row-end: 5;
    height: auto;
  }
  .notre-dame img,
  .longchamp img {
    height: 170px;
  }
  .longchamp {
    grid-row-start: 5;
    grid-row-end: 9;
    height: auto;
  }
  footer {
    padding-bottom: -40px;
  }
}
